{{template "_head.html"}}
<body>
  <div class="wrapper">
    {{template "_header.html"}}
    <div class="content">
      <input type="text" class="titleInput" />
      <input type="text" class="textInput" />
      <input type="file" class="imageInput" />
      <div class="addNewsBtn button loginBtn">Добавить</div>
      <div class="deleteNewsBtn button loginBtn">Удалить</div>
      <div class="content__container _container">
        <div class="content__items items">
          {{ range $_, $e := .News }}

          <div class="card">
            <div class="card__image">
              <img src="img/{{$e.Image}}" alt="Clancy" />
            </div>
            <div class="card__title">{{$e.Title}}</div>
            <div class="card__subtitle">{{printf "%.10s" $e.PostDate}}</div>
          </div>

          {{ end }}
        </div>
      </div>
    </div>
    {{template "_footer.html"}}
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js?_v=20230131223127"></script>
  <script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/news.js"></script>
</body>
